//GLOBAL STYLES
html { 
	overflow-y: scroll; 
}
body {
	position: relative;
	min-height: 100%;
	min-width: 230px;
	margin: 0;
	display: flex;
	flex-direction: column;
	font-family: $book;
		// PAGE CONTAINER
		.page-container {
			margin-right: auto;
			margin-left: auto;
			width: 100%;
			max-width: 1680px;
			position: relative;
			z-index: 1;
			flex: 1;
			padding: 2rem 0;
		}
		// CONTAINER
		.container {
			margin: 0 auto;
			max-width: 1200px;
			padding: 0 40px;
		}
		// LAYOUT
		.hero-quote-container {
			padding: 350px 100px 350px 60px;
				@media screen and (max-width: 650px) {
					padding: 200px 100px 200px 60px;
				}
		}
		.overflow-block .md-hide-below {
			float: left;
			width: 48%;
		}
		.max-width-2 {
			max-width: 30rem;
		}
		.pl4 {
			padding-top: 12rem;
			@media screen and (max-width: 1040px) {
				padding-right: 4rem;
			}
		}
		// HEADINGS
		h2 {
			line-height: 3.5rem;
			font-size: 2.5rem;
		}
		h3 {
			letter-spacing: -0.3px;
			font-size: $rem-2;
		}
		h4 {
			font-size: 0.9375rem;
		}
		h6 {
			font-size: $rem-1-quarter;
			margin: 0;
		}
		h3, h6, p {
			font-weight: 200;
		}
		// PARAGRAPHS
		p {
			color: $lightgray;
			font-size: $rem-1-quarter;
			line-height: $rem-2;
		}
		.small {
			font-size: $rem-1;
		}
		.hero-paragraph {
			font-size: $rem-1-quarter;
			line-height: $rem-2;
		}
		.goal {
			font-size: $rem-1;
			line-height: 1.5rem;
		}
		// LINKS
		a {
			color: $blue;
			text-decoration: none;
		}
		// LISTS
		li {
			color: $lightgray;
		} 
		header ul {
			list-style-type: none;
			padding-left: 0;
		}
		.hr-tools-list ul {
			list-style-type: none;
			padding-left: 35px;
		}
		.hr-tools-list ul {
				li {
					display: flex;
					align-items: center;
					margin-top: $rem-2;
						span {
							margin: 0 20px 0 0 ;
						}
				}
		}
		// COLUMNS 
		.col {
			width: 48%;
			float: left;
				@media screen and (max-width: 768px) {
					width: 100%;
					float: none;
					text-align: center;
				}
		}
		.col.col-1 {
			margin: 2rem 8px 4rem 0;
				ul {
					li {
						font-size: 14px;
					}
				}
		}
		.col.col-2 {
			margin: 2rem 8px 4rem 0;
				ul {
					li {
						font-size: 14px;
					}
				}
		}
		.col-3 {
			width: 33%;
			float: left;
				@media screen and (max-width: 650px) {
					float: none;
					width: 100%;
				}
		}
		// BUTTONS
		.btn {
			display: inline-block;
			margin: 25px 0;
			color: #fff;
			background-color: #3F76F2;
			box-shadow: 0 2px 2px rgba(0,0,0,0.07);
			padding: 9px 21px;
			border-radius: 5px;
			font-size: $rem-1;
			transition: 0.1s ease-in;
			border: none;
			font-family: $book;
		}
		// BLOCKQUOTES
		blockquote {
			color: white;
			font-size: $rem-1-quarter;
			margin: 0;
			line-height: $rem-2;
			font-family: $book;
				@media screen and (max-width: 650px) {
					font-size: 14px;
					line-height: 1em;
				}
		}
		cite {
			@media screen and (max-width: 650px) {
				font-size: 14px;
				line-height: 1em;
			}
		}
		.blockquote-container {
			position: relative;
			top: 222px;
			margin: 0 60px;
				@media screen and (max-width: 650px) {
					top: 160px;
				}
				.img-testimonial-cite {
					width: 52px;
					height: 52px;
				}
				.img-testimonial-cite-container {
					float: left;
					width: 65px;
				}
				.txt-testimonial-cite-container {
					float: left;
					width: 200px;
				}
				h6 {
					font-size: 14px;
				}
		}
		.img-testimonial-hero {
			float: left;
			width: 60px;
		}
		.hero-quote-container cite {
			float: left;
			width: 200px;
		}
		// COLORS
		.white {
			color: white;
		}
		.midnight {
			color: $midnight;
		}
		.light-gray {
			color: $lightgray;
		}
		.gray {
			color: $gray;
		}
		.blue {
			color: $blue;
		}
		// BORDERS
		.border-top-gray {
			border-top: $gray-border;
		}
		.border-top-blue {
			border-top: $blue-border;
		}
		// LOGOS
		.collage-logo {
			height: 31px;
		}
		footer .collage-logo {
			@media screen and (max-width: 768px) {
				text-align: center;
				margin: 0 auto 20px auto;
				display: block;
			}
		}
		.company-logo {
			height: 52px;
		}
		// ICONS
		.icon {
			margin: 15px 0;
			display: block;
				img {
					height: 30px;
				}
		}
		.icon-goal img {
			width: 70px;
		}
		// CAROUSEL SLIDER GALLERY
		.carousel {
			background: white;
		}
		.carousel-cell {
			width: 66%;
			height: 447px;
			margin-right: 10px;
			background: white;
			border-radius: 5px;
			counter-increment: carousel-cell;
				img {
					width: 100%;
				}
				@media screen and (max-width: 1040px) {
					width: 100%;
				}
		}
		.flickity-prev-next-button.next {
			display: none;
		}
		.flickity-prev-next-button.previous {
			display: none;
		}
		.flickity-page-dots {
			margin: 40px 0 40px 0;
			position: static;
		}
		.flickity-page-dots .dot {
			background: $blue;
		}
		// HEADER 
		.hero {
			width: 47%;
			float: left;
				@media screen and (max-width: 1040px) {
					width: 100%;
					float: none;
					max-width: 100%;
				}
		}
		.hero-background {
			float: left;
			width: 47%;
				@media screen and (max-width: 1040px) {
					width: 100%;
					position: relative;
				}
		}
		// COMPANIES
		.companies {
			background: #F9FAFA;
		}
		.center {
			li {
				@media screen and (max-width: 768px) {
					display: block;
				}
			}
		}
		// GOALS
		.goals {
			padding: 40px 0 0 0;
		}
		// HR TOOLS
		.hr-tools-list {
			width: 48%;
			float: left;
			margin: 0 0 60px 0;
				@media screen and (max-width: 768px) {
					width: 100%;
					float: none;
				}
				ul {
					margin: 0;
					display: flex;
					flex-direction: column;
					justify-content: center;
				}
		}
		.hr-tools-img {
			margin: 0 auto;
				img {
					display: block;
					width: 100%;
				}
		}
		.img-employee-records-banner {
			float: left;
			width: 48%;
				@media screen and (max-width: 768px) {
					width: 100%;
					float: none;
				}
		}
		// FOOTER
		footer {
			background: $lightblue;
				.footer-nav {
					ul.menu {
						padding-left: 0;
						margin: 0;
						list-style-type: none;
							li {
								display: inline-block;
								margin: 0 0 0 35px;
								font-size: $rem-1;
									@media screen and (max-width: 650px) {
										display: block;
										margin: 0;
									}
							}
							a {
								background: transparent;
								color: $blue;
							}
					}
				}
				.logo {
					float: left;
					width: 100px;
						@media screen and (max-width: 650px) {
							float: none;
							width: 100%;
						}
				}
				.footer-nav-links {
					float: right;
					width: 460px;
						@media screen and (max-width: 650px) {
							float: none;
							width: 100%;
							text-align: center;
						}
				}
		}
}