//GLOBAL STYLES
body {
	position: relative;
	min-height: 100%;
	min-width: 230px;
	margin: 0;
	display: flex;
	flex-direction: column;
	font-family: $book;
		// PAGE CONTAINER
		.page-container {
			margin-right: auto;
			margin-left: auto;
			width: 100%;
			max-width: 1680px;
			position: relative;
			z-index: 1;
			flex: 1;
		}
		// CONTAINER
		.container {
			margin: 0 auto;
			max-width: 1200px;
			padding: 0 24px;
		}
		// HEADINGS
		h2 {
			line-height: 3.5rem;
			font-size: 2.5rem;
		}
		h3 {
			letter-spacing: -0.3px;
			font-size: $rem-2;
		}
		h4 {
			font-size: 0.9375rem;
		}
		h6 {
			font-size: $rem-1-quarter;
			margin: 0;
		}
		// PARAGRAPHS
		p {
			color: $lightgray;
			font-size: $rem-1-quarter;
			line-height: $rem-2;
		}
		.small {
			font-size: $rem-1;
		}
		.hero-paragraph {
			font-size: $rem-1-quarter;
			line-height: $rem-2;
		}
		// LINKS
		a {
			color: $blue;
			text-decoration: none;
		}
		// BUTTONS
		.btn {
			display: inline-block;
			margin: 25px 0;
			color: #fff;
			background-color: #3F76F2;
			box-shadow: 0 2px 2px rgba(0,0,0,0.07);
			padding: 9px 21px;
			border-radius: 5px;
			font-size: $rem-1;
			transition: 0.1s ease-in;
			border: none;
			font-family: $book;
		}
		// BLOCKQUOTES
		blockquote {
			color: white;
			font-size: $rem-1-quarter;
			margin: 0;
			line-height: $rem-2;
			font-family: $book;
		}
		// COLORS
		.white {
			color: white;
		}
		.midnight {
			color: $midnight;
		}
		.gray {
			color: $gray;
		}
		.blue {
			color: $blue;
		}
		// BORDERS
		.border-top-gray {
			border-top: $gray-border;
		}
		.border-top-blue {
			border-top: $blue-border;
		}
		// LOGOS
		.collage-logo {
			height: 31px;
		}
		.company-logo {
			height: 52px;
		}
		// HEADER 
		.hero-background {
			background: black;
		}
		// LAYOUT 
		.max-width-2 {
			max-width: 30rem;
		}
		// FOOTER
		footer {
			background: $lightblue;
				.footer-nav {
					ul.menu li a {
						background: transparent;
						color: $blue;
					}
				}
		}
}