//GLOBAL STYLES

body {
	font-family: 'Circular', sans-serif;
	position: relative;
	min-height: 100%;
	min-width: 230px;
	margin: 0;
	display: flex;
	flex-direction: column;
	.container {
		width: 1200px;
		margin-right: auto;
		margin-left: auto;
		padding-right: 40px;
		padding-left: 40px;
	}
	h2 {
		line-height: 3.5rem;
		font-size: 2.5rem;
		color: $grey;
		font-weight: 400;
	}
	p {
		color: $lightgray;
	}
	a {
		color: $blue;
		text-decoration: none;
	}
	footer {
		background: $lightblue;
	}
}