//COLOURS

$lightgray: #717B8A;
$grey: #3B3D4D;
$midnight: #212C35;
$lightblue: #F0F4FF;
$blue: #3F76F2;

@font-face {
    font-family: 'Circular';
    src: url('fonts/lineto-circular-pro-book.woff'),
       url('fonts/lineto-circular-pro-book.woff2');
}
@font-face {
    font-family: 'Circular';
    src: url('fonts/lineto-circular-pro-medium.woff'),
       url('fonts/lineto-circular-pro-medium.woff2');
}
@font-face {
    font-family: 'Circular';
    src: url('fonts/lineto-circular-pro-bold.woff'),
         url('fonts/lineto-circular-pro-bold.woff2');
}

//TRANSITIONS

$color-transition: 0.5s color ease;
$bg-transition: 0.5s background ease;

// BUTTONS

$button-height: 27px;
$button-width: 35px;